* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
}
/* left side section part  */
.first-section {
    border-right: 1px solid gray;
    background-color: black;
    height: 100vh;
    width: 15%;
    color: lightgray;
    position: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section svg {
    margin: 20px;
    height: 50px;
    width: 150px;
}
section h6 {
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0 10px 0 15px;
}
section button {
    color: white;
    border: 2px solid white;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    margin: 20px 10px 10px 20px;
    font-size: large;
}
section h3 {
    color: white;
    padding: 10px 20px 10px 20px;
    letter-spacing: 0.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section h3:hover {
    cursor: pointer;
    background-color: rgb(49, 54, 54);
}
section div {
    margin: 20px 20px 0 20px ;
}
section div img {
    height: 100px;
    width: 130px;
}
section div p {
    color: gray;
}
section div p:hover {
    color: whitesmoke;
    cursor: pointer;
}
#start-btn:hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}

/* right side section  */
.sec-two {
    /* border: 3px solid white; */
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
}
.sec-two header {
    display: flex;
}
section header div {
    color: lightgray;
}
.icon-text {
    width: 70%;
    height: 50%;
    padding: 10px;
    display: flex;
    background-color: rgb(49, 54, 54); 
    border-radius: 5px;
}
.icon-text i {
    background-color: rgb(49, 54, 54); 
}
.icon-text input {
    outline: none;
    border: none;
    color: lightgray;
    margin-left: 10px;
    font-size: large;
    font-family: sans-serif;
    background-color: rgb(49, 54, 54) ;
}

#login-btn {
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 0px;
    background-color: rgb(49, 54, 54) ;
    border: none;
}
#login-btn:hover{
    background-color: rgb(129, 129, 129);
    cursor: pointer;
}
#search-icon {
  width: 80%;
  margin-left: 50px;
}
.signup-cont {
    border: 1px solid gray;
    border-top: 2px solid aqua;
    width: 60%;
    margin: 5% auto;
}
.sign-h1 {
    /* border: 1px solid pink; */
    color:white;
    text-align: center;
    height: 200px;
    padding-top: 70px;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(49, 54, 54) ;
    margin: 0px;
}
.sign-h1 h1 {
    font-weight: bolder;
    background-color: rgb(49, 54, 54) ;
}
.sign-h1 h5 {
    background-color: rgb(49, 54, 54) ;
}
.two-cont-signup {
    /* border: 2px solid pink; */
    display: flex;
    margin: 0;
}
.first-box-cont {
    /* border: 3px solid aqua; */
    width: 70%;
    margin: 0;
    background-color: white;
}
.second-box-cont {
    /* border:3px solid yellow; */
    width: 30%;
    margin: 0;
   
}
.second-box-cont pre {
    font-family: sans-serif;
    margin-top: 5px;
}
#twitter {
    background-color:  #1da1f2;
}
#github {
    background-color:  #57606a;
}
#facebook {
    background-color: #036ce5;
}
#twitter,#github,#facebook {
    width: 90%;
    border-radius: 5px;
}
#email {
    background-color: rgb(56, 54, 54) ;   
    border-radius: 5px;
}
#twitter:hover,#github:hover,#facebook:hover,#email:hover {
    background-color: black;
    cursor: pointer;
}

.or {
    background-color: white;
    color:rgb(59, 58, 58);
    font-size: large;
    margin-left: 20px;
}
.white-aqua {
    background-color: white;
    margin-left: 20px;
}
.or:hover,.white-aqua:hover {
    color:rgb(59, 58, 58);
}

@media screen and (max-width:1023px) {
    .first-section {
        display: none;
    }
    .sec-two ,.signup-cont {
        width: 100%;
        overflow: hidden;
    }
}